:root {
    --yellow1: #ffffae;
    --yellow2: #fffb82;
    --yellow3: #ffec6f;
    --purple1: #2c0063;
}

p, label {
    font-weight: bold;
}

body {
    font-family: sans-serif;
    background-color: var(--yellow3);
    text-align: center;
}

.header-btn-container {
    position: relative;
}

#logout-btn {
    position: absolute;
    right: 0;
}

main {
    display: flex;
}

.list-container {
    flex-grow: 1;
    background-color: var(--yellow2);
    margin: 0 5px;
    text-align: center;
}

.task {
    background-color: var(--yellow1);
    margin: 5px;
    padding: 10px;
    text-align: left;
}

.btn {
    background-color: var(--purple1);
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 15px 0px;
}